
<div class="side-profiles">
  <h3>Comunity </h3><hr>
  <ul>
    <li
      *ngFor="let profile of profiles" (click)="showProfile(profile)">
        {{ profile.firstName }} {{ profile.lastName }}
    </li>
  </ul>
</div>
<div class="single-profile-view">
  <div *ngIf="toShow">
    <h3> {{ profileToShow.firstName }} </h3><hr>
    <img src="assets/user.png" width="200" height="200">
    <br>
    <button *ngIf="followingIds.indexOf(profileToShow.id) === -1" (click)="followUser(profileToShow.id)"> Zaprati </button>
    <button onclick="unfollowUser()"> Otprati </button>
    <p> Slike korisnika: </p> <hr>
    <div *ngFor="let post of profileToShow.posts">
      <p (click)="previewPhoto(post)"> {{ post.title }} - {{ post.createdTime }}</p>
    </div>
  </div>
</div>
<div class="single-photo-view">
  <div *ngIf="photoToShow">
    <h3> {{ photoToShow }} </h3><hr>
    <img src="{{photoToShow}}" width="200" height="200">
    <br><br>
    <button style="width: 100px; margin: 0 auto;" (click)="sharePhoto()"> Share </button>
    <hr>
  </div>
</div>
