.photo-container {
  width: 500px;
  height: 250px;
  margin-left: 30px;
  /*background-color: red;*/
  padding-bottom: 20px;
}

.photo-description {
  width: 350px;
  height: 350px;
  position: relative;
  float: left;
  /*background-color: red;*/
}

.photo-actions {
  width: 300px;
  height: 150px;
  float: left;
  position: relative;
  overflow-y: auto;
  /*background-color: blue;*/
}

.photo {
  width: 300px;
  height: 300px;
}
