<!--<textarea id="chat" class="chat" style="width: 200px; height: 300px;"></textarea><br>-->
<table id="friends-list" class="table table-striped" style="margin-top: 20px;">
  <thead>
  <tr>
    <th>My conversations</th>
  </tr>
  </thead>
  <tbody *ngFor="let channel of channels">
  <tr (click)="selectContact(channel)">
    <td> {{ channel.firstName }} {{ channel.lastName }}</td>
  </tr>
  </tbody>
</table>
<table *ngIf="selectedChat" id="conversation-chat" class="table table-striped" style="margin-top: 20px;">
  <thead>
  <tr>
    <th>Chat with: {{ selectedChat.firstName }} {{ selectedChat.lastName }} </th>
  </tr>
  </thead>
  <tbody *ngFor="let message of selectedChat.messages">
  <tr>
    <td> {{ message.email }}: {{ message.text }}</td>
  </tr>
  </tbody>

  <input id="input" type="text" #input (keyup.enter)="sendMessage(input.value)"/>
</table>
