.profile-photo {
  width: 500px;
  height: 250px;
  margin: 0 auto;
  /*background-color: black;*/
}
.profile-photo img:hover {
  background-color: #4CAF50;
  cursor: pointer;
}
.profile-description {

}
.profile-content {

}

img {
  margin-left: 20px;
}

