<div>
  <div class="jumbotron">
    <div class="profile-photo">
      <img src="assets/user.png" width="200" height="200" (click)="openStory(content)">
      <p> Ime: {{ loggedUser.firstName }} | Prezime: {{ loggedUser.lastName }}</p>
      <button (click)="openStory(content)"> show story </button>
    </div>
  </div>
  <div class="jumbotron">
    <input type="file" (change)="onFileChanged($event)">
    <input type="text" placeholder="Naslov slike" [(ngModel)]="title" (change)="onTitleChanged()"/>
    <br>
    <br>
    <img [src]="imgURL" height="200" width="200" *ngIf="imgURL">
    <br>
    <br>
    <button (click)="uploadImage()" class="btn btn-primary">Upload</button>
  </div>
  <div class="jumbotron" style="overflow-x: auto">
    <h3> My photos </h3> <hr>
    <img *ngFor="let post of loggedUser.posts" src="http://localhost{{post.photo}}" width="300" height="300">
  </div>

  <div class="jumbotron" style="overflow-x: auto">
    <h3> Shared photos </h3> <hr>
    <img *ngFor="let post of loggedUser.sharedPosts" src="http://localhost{{post.photo}}" width="300" height="300">
  </div>


</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Story korisnika: {{ name }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <!--<img src="assets/photo1.jpg" width="600" height="600">-->
    <slideshow [height]="height"
               [minHeight]="'525px'"
               [autoPlay]="true"
               [showArrows]="false"
               [autoPlayInterval]="5000"
               [imageUrls]="imageSources"
               [lazyLoad]="imageSources?.length > 1"
               [autoPlayWaitForLazyLoad]="true">
    </slideshow>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>

<style>
  .dark-modal .modal-content {
    background-color: #292b2c;
    color: white;
  }
  .dark-modal .close {
    color: white;
  }
  .light-blue-backdrop {
    background-color: #5cb3fd;
  }
</style>
